#image_list
  %h3 Lijst
  %form{:action => '/compare', :method => 'GET'}
    %select{:id => 'tag_select', :name => 'tag', :style => 'display: inline'}
      %option -- selecteer --
      - Comparer::Picture.tags.each do |tag|
        %option{:value => tag, :selected => params[:tag] == tag}= tag
    %input{:type => 'submit', :value => 'Toon Afbeeldingen'}

  %br
 
  - if @pictures
    %ul
      - @pictures.each do |picture|
        %li.image
          %img{:src => "/pictures/#{picture.id}", :alt => picture.file.name}
  - else
    %h3 Selecteer een tag...

#chosen_image
  %h3 Kies een bestand
  %input{:type => 'file', :onchange => 'readURL(this)', :style => 'margin: 0'}
  %br
  %img#selected_image

%p
  %a{:href => '/upload'} Nieuw(e) Bestand(en) Uploaden
