%form{:action => '/compare', :method => 'GET'}
  %select{:name => 'award', :style => 'margin-bottom: 3px'}
    %option{:value => ''} -- award --
    - Comparer::Picture.awards.each do |award|
      %option{:value => award, :selected => params[:award] == award}= award
  %select{:name => 'review', :style => 'margin-bottom: 3px'}
    %option{:value => ''} -- review --
    %option{:value => 'fake'} Fake
    %option{:value => 'original'} Original
    %option{:value => 'undefined'} Undefined
  %select{:name => 'maker', :style => 'margin-bottom: 3px'}
    %option{:value => ''} -- maker --
    - Comparer::Picture.makers.each do |maker|
      %option{:value => maker, :selected => params[:maker] == maker}= maker
  %select{:name => 'reverse', :style => 'margin-bottom:3px;'}
    %option{:value => ''} -- reverse --
    %option{:value => 'hollow'} Hollow
    %option{:value => 'full'} Full
    %option{:value => 'semi-hollow'} Semi-Hollow
  %input{:type => 'submit', :value => 'Show Pictures'}

#chosen_image
  %h3 Choose a picture to compare
  %input{:type => 'file', :onchange => 'readURL(this)', :style => 'margin: 0'}
  %br
  %img#selected_image

#image_list
  %h3
    Picture library
    |
    %a{:href => '/upload'} Add picture to library
  %br
 
  - if @pictures
    %ul{:style => 'margin-top:22px'}
      - @pictures.each do |picture|
        %li.image
          %img{:src => "/pictures/#{picture.id}", :alt => picture.file.name, :id => picture.id}
  - else
    Select filter options...
