%form{:action => '/compare', :method => 'GET'}
  %select{:name => 'maker', :style => 'margin-bottom: 3px'}
    %option{:value => ''} -- maker --
    - Comparer::Picture::MAKERS.each do |maker|
      %option{:value => maker, :selected => params[:maker] == maker}= maker
  %select{:name => 'review', :style => 'margin-bottom: 3px'}
    %option{:value => ''} -- review --
    %option{:value => 'fake'} Fake
    %option{:value => 'original'} Original
    %option{:value => 'undefined'} Undefined
  %select{:name => 'packing', :style => 'margin-bottom: 3px'}
    %option{:value => ''} -- packing --
    %option{:value => 'etui'} Etui
    %option{:value => 'bag'} Bag
  %select{:name => 'picture_view', :style => 'margin-bottom: 3px;'}
    %option{:value => ''} -- pictureview cross --
    %option{:value => 'reverse'} Reverse View
    %option{:value => 'obverse'} Obverse View
  %select{:name => 'origin', :style => 'margin-bottom: 3px;'}
    %option{:value => 'owner'} Owner
    %option{:value => 'market'} Market
    %option{:value => 'undefined'} Undefined
  %input{:type => 'submit', :value => 'Show Pictures'}

#chosen_image
  %h3 Choose a picture to compare
  %input{:type => 'file', :onchange => 'readURL(this)', :style => 'margin: 0'}
  %br
  %img#selected_image

#image_list
  %h3
    Picture library
    |
    %a{:href => '/upload'} Add picture to library
  %br
 
  - if @pictures
    %ul{:style => 'margin-top:22px'}
      - @pictures.each_with_index do |picture, index|
        %li.image
          %img{:src => "/pictures/#{picture.id}", :alt => picture.file.name, :id => picture.id}
          %br
          Foto
          = index + 1
          van
          = @pictures.size
  - else
    Select filter options...
