!!! 5
%html
  %head
    %title
      = title
      \- Picture Comparer
    %script{:src => '/js/jquery.js'}
    %script{:src => '/js/zoom.js'}
    :javascript
      jQuery(function($) {
        $('li.image img').each(function() {
          $(this).addpowerzoom({
            defaultpower: 2,
            powerrange: [2, 2],
            magnifiersize: [100, 100]
          });
        });
      });
    :javascript
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            jQuery('#selected_image').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
    :css
      body { font-family: 'Helvetica Neue', Helvetica, Arial, Georgia, sans-serif; font-size: 12px; }
      #title { margin-top: 0; }
      #content { width: 774px; text-align: justify; }
      label { width: 100px; float: left; }
      input[type=text], input[type=file], small.hint { margin-left: 110px; display: block; }
      p { clear: left; }
      #image_list { width: 390px; display: inline-block; vertical-align: top; }
      #image_list ul { margin: 0; padding: 0; height: 500px; overflow: auto; }
      #image_list li.image { list-style-type: none; margin: 0; padding: 0; }
      #image_list li.image img { max-width: 380px; }
      #chosen_image { width: 380px; display: inline-block; vertical-align: top; }
      #selected_image { max-width: 380px; }

  %body
    #content
      %h1#title
        %a{:href => '/compare'} Picture Comparer
      %h2= title
      = yield
