%form{:action => '/upload', :method => 'POST', :enctype => 'multipart/form-data'}
  %p
    %label{:for => 'award'} Award
    %input{:type => 'text', :name => 'award', :placeholder => 'Award', :id => 'award'}
  %p
    %label{:for => 'review'} Review
    %select{:name => 'review', :style => 'margin-left: 110px;display: block', :id => 'review'}
      %option{:value => 'fake'} Fake
      %option{:value => 'original'} Original
  %p
    %label{:for => 'maker'} Maker
    %input{:type => 'text', :name => 'maker', :placeholder => 'Maker', :id => 'maker'}
  %p
    %label{:for => 'material'} Material
    %input{:type => 'text', :name => 'material', :placeholder => 'Materiaal', :id => 'material'}
  %p
    %label{:for => 'reverse'} Reverse
    %select{:name => 'reverse', :style => 'margin-left: 110px;display: block', :id => 'reverse'}
      %option{:value => 'hollow'} Hollow
      %option{:value => 'full'} Full
      %option{:value => 'semi-hollow'} Semi-Hollow
    -#%input{:type => 'text', :name => 'reverse', :placeholder => 'Reverse', :id => 'reverse'}
  %p
    %label{:for => 'pictures'} File
    %input{:type => 'file', :name => 'picture', :id => 'pictures'}
  %p
    %input{:type => 'submit', :value => 'Uploaden'}
